*{
    box-sizing: border-box;
    margin:0 ; /* this is to remove any margin from my background image*/
    padding: 0; /* this is to remove any space around my background image*/
}

.background{
    position: relative;
    background-repeat: no-repeat; /* Do not repeat the image */
   background-size:cover;/* background-size can be defined with pixels or names*/
   justify-content: center;
}

.background::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom:0px;
    left:0px;
    background-image: url("Pictures/Rio.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;/* background-size can be defined with pixels or names*/
    opacity: 0.85; 
    height: 100vh; /*makes the image cover 100% of the viewport height*/
    background-position: 35%; /*makes the image focal point after 35% to be responsive and focused*/
 }

 h1 {
    position: relative; /*position of text has to be relative in order to get get opaque aswell*/
    left: 0px;
    right: 0px;
    text-align: center; /*to center text in the middle use left and right 0px and then align text in the center*/
 }

 .big {
    font-family: 'Roboto Mono', monospace;
    font-size: 35px;
    color:#BEBEBE;
    letter-spacing: 5px;
    border: 2px solid #BEBEBE;
    top: 70px;
    padding: 0px 0px;
}


#Brazil {
    font-size: 70px;
    font-family: 'Lexend Zetta', sans-serif;
    letter-spacing: 5px;
    color: #b56727;
    padding-top: 80px;


}
 
p.explore{
    padding-top: 8%;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #b56727;
    text-transform: uppercase;
    text-align: right justify;
    position: absolute;
    top: 250px;
    right: 10px;
    font-weight: lighter;
    max-width: 50vw;

}

div.footer{
    padding-bottom: 5%;
}

a {
    color: black;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: white;
    position: absolute;
    top: 420px;
    right: 100px;
    border: 1px solid black;
}

